<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
		/>
		<link rel="stylesheet" href="/styles/custom.css" />
		<title>Detalhes</title>
	</head>
	<body class="ps__body">
		<nav th:replace="base :: navBar"></nav>
		<main class="ps__container container d-flex flex-row align-items-center justify-content-center">
            <div class="h-100 w-100 row text-center d-flex align-items-center justify-content-evenly">
                <div class="fs-4 h-50 col-md-5 text-start d-flex flex-column align-items-center justify-content-around">
                    <div class="container">
                        <div class="row text-center">
                            <span class="col"><strong>Nome:</strong> <span th:text="${socio.nome}"></span></span>
                            <span class="col"><strong>Id:</strong> <span th:text="${socio.id}"></span></span>
                        </div>
                        <div class="row text-center">
                            <span class="col"><strong>Renda:</strong> <span th:text="${socio.renda}"></span></span>
                            <span class="col"><strong>Ativo:</strong> <span th:text="${socio.ativo} ? 'Sim' : 'Não'"></span></span>
                        </div>
                    </div>
                    <div class="d-flex w-100 flex-row align-items-center justify-content-evenly">
                        <a class="ps__button w-25 text-center">Editar</a>
                        <button class="ps__button w-25">Excluir</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <table class="table rounded-4 overflow-hidden">
                        <thead class="ps__bluebg">
                            <tr>
                                <th scope="col" class="text-light">Id</th>
                                <th scope="col" class="border border-start-1 border-light text-light">Nome</th>
                                <th scope="col" class="border border-start-1 border-light text-light">Idade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dependente: ${socio.dependentes}">
                                <td th:text="${dependente.id}" class="border border-1" />
                                <td th:text="${dependente.nome}" class="border border-1" />
                                <td th:text="${dependente.idade}" class="border border-1" />
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" onclick="window.location.href = `/dependentes/cadastrar`">
                                    Adionar Dependente
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
		</main>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>
	</body>
</html>
